<%- include ('../partials/header.ejs') %>

<div class="container">
	<%- include ('../partials/navbar.ejs') %>

	<div class="menu">
		<div>
			<a href="/blogs/new">Write</a>
		</div>
		<div>
			<a href="/profile">Profile</a>
		</div>
		<div>
			<a href="/users/logout">Logout</a>
		</div>
	</div>

	<!-- <div id="filters">
		FILTERS
	</div> -->

	<% if (blogs.length > 0) { %>
	<div class="blogs">
		<% blogs.forEach(blog => { %>
		<div class="blog-div">
			<h2>
				<a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
			</h2>
			<span><%= formatter.dateFormat(blog.createdAt) %></span>
			<p><%= blog.post.substr(0, 50) %> . . .</p>
		</div>
		<% }) %>
	</div>
	<% } else { %>
	<div style="text-align: center; margin-top: 10%;">
		<h2>No Blogs found</h2>
		<div style="margin-top: 10px;">
			Create one <a href="/blogs/new">here</a>
		</div>
	</div>
	<% } %>
</div>

<%- include ('../partials/footer.ejs') %>