<%- include ('../partials/header.ejs') %>

<div class="container">
	<%- include ('../partials/navbar.ejs') %>

	<div class="back-div">
		<a href="/blogs">All Blogs</a>
	</div>

	<div class="blog-title">
		<h2><%= blog.title %></h2>
		<div class="blog-post-body"><%= blog.post %></div>
	</div>
</div>
<%- include ('../partials/footer.ejs') %>
