<%-  include ('../partials/header.ejs') %>

<div class="container">
    <!-- <h1>WELCOME!!</h1>
    <a href="/users/logout">LOGOUT</a> -->

    <%- include ('./partials/navbar.ejs') %> 
    
    <div class="blog-title">
        <h2><%= blog.title %></h2>
        <p><%= blog.post %></p>
    </div>

</div>

<%-  include ('../partials/footer.ejs') %>