<%- include ('../partials/header.ejs') %>

<div class="container">
  <%- include ('../partials/navbar.ejs') %>

  <div class="menu">
    <div>
      <a href="/blogs/new">Write</a>
    </div>
    <div>
      <a href="/profile">Profile</a>
    </div>
    <div>
      <a href="/users/logout">Logout</a>
    </div>
  </div>

  <div id="filters">
    <div class="filter-dropdown" onclick="toggleDropdown()">
      <h2>FILTERS</h2>
      <div class="dropdown-btn">
        <h2>+</h2>
      </div>
    </div>
    <div class="dropdown">
      <div>
        <label for="fromdate">From: </label>
        <input type="date" name="fromdate" />
      </div>
      <div>
        <label for="fromdate">To: </label>
        <input type="date" name="todate" />
      </div>
      <div>
        <input type="submit" value="SEARCH" />
      </div>
    </div>
  </div>

  <% if (blogs.length > 0) { %>
  <div class="blogs">
    <% blogs.forEach(blog => { %>
    <div class="blog-div">
      <h2>
        <a href="/blogs/<%= blog._id %>"><%= blog.title %></a>
      </h2>
      <span><%= date.dateFormat(blog.createdAt) %></span>
      <p><%= blog.post.substr(0, 50) %></p>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <div style="text-align: center; margin-top: 10%">
    <h2>No Blogs found</h2>
    <div style="margin-top: 10px">Create one <a href="/blogs/new">here</a></div>
  </div>
  <% } %>

  <div class="pagination">
    <% if (page > 1) { %>
    <div class="previous">
      <a href="/blogs?page=<%= --page %>">Previous</a>
    </div>
    <% } %>
    <div class="spacer"></div>
    <% if (page <= totalPages) { %>
    <div class="previous">
      <a href="/blogs?page=<%= ++page %>">Next</a>
    </div>
    <% } %>
  </div>
</div>

<%- include ('../partials/footer.ejs') %>
