<%- include ('../partials/header.ejs') %>

<div class="container">
  <div class="add-blog-header">
    <h3>EDIT BLOG</h3>
  </div>

  <%- include ('../partials/messages') %>

  <form action="/blogs/<%= blog._id %>/edit?_method=PATCH" method="POST">
    <div>
      <label for="title">Title</label>
    </div>
    <div>
      <input
        class="blog-ip"
        type="title"
        name="title"
        value="<%= blog.title %>"
        placeholder="Title"
        autocomplete="off"
        required
      />
    </div>
    <div>
      <label for="post">Post</label>
    </div>
    <div>
      <textarea
        id="post"
        name="post"
        placeholder="Write your Post here . . ."
        rows="10"
        required
      >
<%= blog.post %></textarea
      >
    </div>
    <div>
      <input class="post-sub" type="submit" value="EDIT POST" />
    </div>
  </form>
</div>

<%- include ('../partials/footer.ejs') %>
